<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>Edwin | Kivuva</title>
    <link rel="stylesheet" href="/static/assets/vendors/themify-icons/css/themify-icons.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" style="background-color: rgba(4,17,46,0.98)">
{% for bg in background %}
    <header class="header" style="background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{ bg.image }});
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{ bg.image }});">
{% endfor %}
        <div class="container">
            <ul class="social-icons pt-3">
                {% for fb in facebook %}
                    {% if fb.link %}
                        <li class="social-item"><a class="social-link text-light" href="{{ fb.link }}" target="_blank"><i class="ti-{{ fb.icon }}" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    {% endif %}
                {% endfor %}
                {% for tw in twitter %}
                    {% if tw.link %}
                        <li class="social-item"><a class="social-link text-light" href="{{ tw.link }}" target="_blank"><i class="ti-{{ tw.icon }}" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                    {% endif %}
                {% endfor %}
                {% for li in linkedin %}
                    {% if li.link %}
                        <li class="social-item"><a class="social-link text-light" href="{{ li.link }}" target="_blank"><i class="ti-{{ li.icon }}" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                    {% endif %}
                {% endfor %}
                {% for ig in instagram %}
                    {% if ig.link %}
                        <li class="social-item"><a class="social-link text-light" href="{{ ig.link }}" target="_blank"><i class="ti-{{ ig.icon }}" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                    {% endif %}
                {% endfor %}
                {% for git in github %}
                    {% if git.link %}
                        <li class="social-item"><a class="social-link text-light" href="{{ git.link }}" target="_blank"><i class="ti-{{ git.icon }}" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="header-content">
                {% for item in welcome %}
                    <h4 class="header-subtitle" >Hello, I'm</h4>
                    <h1 class="header-title">{{item.name}}</h1>
                    <h6 class="header-mono" >{{item.specialisation}}</h6>
                {% endfor %}
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light " data-spy="affix" data-offset-top="510" style="background-color: rgba(4,17,46,0.98)">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" style="color: #FFFFFF" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-light" style="color: #FFFFFF"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link" style="color: white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link" style="color: #FFFFFF;">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link" style="color: #FFFFFF">Resume</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    {% for image in welcome%}
                        <img src="{{image.profile}}" alt="" class="brand-img">
                        <li class="brand-txt">
                            <h5 class="brand-title" style="color: navajowhite">{{image.name}}</h5>
                            <div class="brand-subtitle" style="color: whitesmoke">{{image.specialisation}}</div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link" style="color: #FFFFFF">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" class="nav-link" style="color: #FFFFFF">Blog</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link" style="color: #FFFFFF">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light" style="color: #FFFFFF">Who am I ?</h3>
                <span class="line mb-5"></span>
                {% for am in am %}
                    <h5 class="mb-3" style="color: #FFFFFF">{{am.Title}}</h5>
                    <p class="mt-20" style="color: papayawhip">{{am.description}}</p>
                {% endfor %}
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light" style="color: #FFFFFF">Personal Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    {% for info in p_info %}
                        <li style="color: papayawhip"><span style="color: #FFFFFF">Birthdate</span> : {{info.birthdate}}</li>
                        <li style="color: papayawhip"><span style="color: #FFFFFF">Email</span> : {{info.email}}</li>
                        <li style="color: papayawhip"><span style="color: #FFFFFF">Phone</span> : {{info.phone}}</li>
                        <li style="color: papayawhip"><span style="color: #FFFFFF">Skype</span> : {{info.skype}}</li>
                        <li style="color: papayawhip"><span style="color: #FFFFFF">Upwork</span> :  {{info.Upwork}}</li>
                    {% endfor %}
                </ul>
                <ul class="social-icons pt-3">
                    {% for fb in facebook %}
                        {% if fb.link %}
                            <li class="social-item"><a class="social-link text-danger" href="{{ fb.link }}" target="_blank"><i class="ti-{{ fb.icon }}" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                        {% endif %}
                    {% endfor %}
                    {% for tw in twitter %}
                        {% if tw.link %}
                            <li class="social-item"><a class="social-link text-danger" href="{{ tw.link }}" target="_blank"><i class="ti-{{ tw.icon }}" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                        {% endif %}
                    {% endfor %}
                    {% for li in linkedin %}
                        {% if li.link %}
                            <li class="social-item"><a class="social-link text-danger" href="{{ li.link }}" target="_blank"><i class="ti-{{ li.icon }}" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                        {% endif %}
                    {% endfor %}
                    {% for ig in instagram %}
                        {% if ig.link %}
                            <li class="social-item"><a class="social-link text-danger" href="{{ ig.link }}" target="_blank"><i class="ti-{{ ig.icon }}" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                        {% endif %}
                    {% endfor %}
                    {% for git in github %}
                        {% if git.link %}
                            <li class="social-item"><a class="social-link text-danger" href="{{ git.link }}" target="_blank"><i class="ti-{{ git.icon }}" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>  
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light" style="color: #FFFFFF">My Expertise</h3>
                <span class="line mb-5"></span>
                {% for expert in expertise %}
                    <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-{{ expert.icon }} icon-lg"></i></div>
                        <div class="col-10 ml-auto mr-3">
                            <h6 style="color: #FFFFFF">{{expert.name}}</h6>
                            <p class="subtitle" style="color: papayawhip"> {{expert.description}}</p>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5" style="color: white"><span class="text-danger">My</span> Resume</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4 style="color: #FFFFFF">Expertise</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            {% for ex in r_expertise %}
                                <h6 class="title text-danger">{{ex.time}}</h6>
                                <P>{{ex.name}}</P>
                                <P class="subtitle">{{ex.description}}</P>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card" style="height: 590px">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4 style="color: #FFFFFF">Education</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            {% for edu in r_education %}
                                <h6 class="title text-danger">{{edu.time}}</h6>
                                <P>{{edu.school_name}}</P>
                                <P class="subtitle">{{edu.description}}</P>
                                <hr>
                           {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2" style="color: #FFFFFF">Skills</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            {% for skill in r_skills %}
                                <h6 style="color: papayawhip">{{skill.programming_language}}</h6>
                                <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ skill.percent }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Languages</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            {% for lang in r_languages %}
                                <h6 style="color: papayawhip">{{lang.language}}</h6>
                                <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ lang.percent }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section text-center" style="background-color: #0f0039">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            {% for hrs in worked_hours %}
                                <h1 class="text-danger font-weight-bold font40">{{hrs.hours}}</h1>
                                <p class="text-light mb-1">Hours Worked</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            {% for pro in pro_finished %}
                                <h1 class="text-danger font-weight-bold font40">{{pro.projects}}</h1>
                                <p class="text-light mb-1">Projects Finished</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            {% for happy in happy_clients %}
                                <h1 class="text-danger font-weight-bold font40">{{happy.happy}}</h1>
                                <p class="text-light mb-1">Happy Clients</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            {% for coffee in coffee %}
                                <h1 class="text-danger font-weight-bold font40">{{coffee.coffee}}</h1>
                                <p class="text-light mb-1">Coffee Drank</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4" style="color: #FFFFFF"><span class="text-danger">My</span> Services</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5 kivs" style="height: 400px">
                        {% for web in webservice %}
                            <div class="card-header has-icon">
                                <i class="ti-{{ web.icon }} text-danger" aria-hidden="true"></i>
                            </div>
                            <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title" style="color: #FFFFFF">{{ web.title }}</h5>
                            <P class="subtitle">{{ web.description }}</P>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5 kivs" style="height: 400px">
                        {% for app in appservice %}
                            <div class="card-header has-icon">
                                <i class="ti-{{ app.icon }} text-danger" aria-hidden="true"></i>
                            </div>
                            <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title" style="color: #FFFFFF">{{ app.title }}</h5>
                            <P class="subtitle">{{ app.description }}</P>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5 kivs" style="height: 400px">
                        {% for aiandmachine in aiandmachine %}
                            <div class="card-header has-icon">
                                <i class="ti-{{ aiandmachine.icon }} text-danger" aria-hidden="true"></i>
                            </div>
                            <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title" style="color: #FFFFFF">{{ aiandmachine.title }}</h5>
                            <P class="subtitle">{{ aiandmachine.description }}</P>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section py-5" style="background-color: #0f0039">
        <div class="container text-center">
            {% for hire in hire %}
                <h2 class="text-light mb-5 font-weight-normal">{{ hire.heading }}</h2>
                {% if hire.link %}
                    <a href="{{ hire.link }}" target="_blank"><button class="btn bg-primary w-lg" >{{ hire.hire }}</button></a>
                {% else %}
                    <span style="color: red; font-weight: bold; cursor: pointer">{{ hire.miss_link }}</span>
                {% endif %}
            {% endfor %}
        </div>
    </section>

        <!-- Portfolio Section -->
    <section class="section" id="portfolio" style="background-color: rgba(4,17,46,0.98)">
        <div class="container">
            <h1 class="mb-5" style="color: #FFFFFF"><span class="text-danger">My</span> Portfolio</h1>
        </div>
{#        <div class="container">#}
{#            <h1 class="mb-5"><span>Websites</span></h1>#}
{#        </div>#}
        <div class="container-fluid">
            <div class="row gutter-3">
                {% for web in websites %}
                <div class="col-md-4">
                <div class="card mb-5 kien" style="height: 250px; padding: 10px">
                    <a href="{% url 'portfolio_detail' web.id %}" target="_blank">
                        <img src="{{ web.image }}" height="200" width="400" style="border-radius: 0px" class="card-img-top" alt="">
                        <span style="color: #FFFFFF;padding: 20px 20px 20px 20px;" class="span">{{ web.name_of_site }}</span>
                    </a>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    <!-- End of portfolio section -->
    <div class="section contact" id="contact">
{#        <div id="map" class="map"></div>#}
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
{#                    <div class="contact-form-card" style="background-color: rgba(7,25,76,0.98);">#}
{#                        <h4 class="contact-title" style="color: #FFFFFF">Send a message</h4>#}
{#                        {% if messages %}#}
{#                            {% for message in messages %}#}
{#                                <div class="alert alert-{{message.tags}}">{{message}}</div>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                        <form action="" method="POST">#}
{#                            {% csrf_token %}#}
{#                            <form action="">#}
{#                            <div class="form-group">#}
{#                                <input  class="form-control" type="text" placeholder="Name *" required>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input class="form-control" type="email" placeholder="Email *" required>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <textarea class="form-control" id=" placeholder="Message *" rows="7" required></textarea>#}
{#                            </div>#}
{#                            <div class="form-group ">#}
{#                                <button type="submit" class="form-control btn btn-primary" >Send Message</button>#}
{#                            </div>#}
{#                        </form>#}
{#                        </form>#}
{#                    </div>#}
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card" style="background-color: rgba(7,25,76,0.98)">
                        <h4 class="contact-title" style="color: #FFFFFF;">Get in touch</h4>
                        {% for get in intouch %}
                            <div class="row mb-2">
                                <div class="col-1 pt-1 mr-1">
                                    <i class="ti-mobile icon-md" style="color: red"></i>
                                </div>
                                <div class="col-10 ">
                                    <h6 class="d-inline" style="color: white">Phone : <br> <span class="text-muted" style="color: white;">{{get.phone_number}}</span></h6>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-1 pt-1 mr-1">
                                    <i class="ti-map-alt icon-md" style="color: red"></i>
                                </div>
                                <div class="col-10">
                                    <h6 class="d-inline" style="color: white">Address :<br> <span class="text-muted">{{get.address}}</span></h6>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-1 pt-1 mr-1">
                                    <i class="ti-envelope icon-md" style="color: red"></i>
                                </div>
                            <div class="col-10">
                                <h6 class="d-inline" style="color: white">Email :<br> <span class="text-muted">{{get.email}}</span></h6>
                            </div>
                        {% endfor %}
                        </div>
                        <ul class="social-icons pt-4">
                            {% for fb in facebook %}
                                {% if fb.link %}
                                    <li class="social-item"><a class="social-link text-danger" href="{{ fb.link }}" target="_blank"><i class="ti-{{ fb.icon }}" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endfor %}
                            {% for tw in twitter %}
                                {% if tw.link %}
                                    <li class="social-item"><a class="social-link text-danger" href="{{ tw.link }}" target="_blank"><i class="ti-{{ tw.icon }}" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endfor %}
                            {% for li in linkedin %}
                                {% if li.link %}
                                    <li class="social-item"><a class="social-link text-danger" href="{{ li.link }}" target="_blank"><i class="ti-{{ li.icon }}" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endfor %}
                            {% for ig in instagram %}
                                {% if ig.link %}
                                    <li class="social-item"><a class="social-link text-danger" href="{{ ig.link }}" target="_blank"><i class="ti-{{ ig.icon }}" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endfor %}
                            {% for git in github %}
                                {% if git.link %}
                                    <li class="social-item"><a class="social-link text-danger" href="{{ git.link }}" target="_blank"><i class="ti-{{ git.icon }}" aria-hidden="true"></i></a></li>
                                {% else %}
                                    <li class="social-item"><a class="social-link text-danger" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-3" style="background-color: rgba(4,17,46,0.98)">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger"></i> By <a href="" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">EdwinKivuva</span></a>
            </p>
        </div>
    </footer>

    <script src="/static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="/static/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="/static/assets/vendors/isotope/isotope.pkgd.js"></script>
{#    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>#}
    <script src="/static/assets/js/main.js"></script>
</body>
<style>
    .kien {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        border-radius: 5px;
    }
    .card {
        background-color: rgba(7,25,76,0.98);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }
    .card h4 {
        color: white;
    }
    .card p {
        color: papayawhip;
    }
    .card a {
        color: black;
    }
    .card .span:hover {
        transition: 1s;
        color: red;
    }
    .kien:hover {
        transition: 1s;
        transform: scale(105%);
        color: red;
    }
    .kien.span{
        transition: 1s;
        color: red;
    }
    .kien a:hover {
        color: red;
        transition: 1s;
    }
</style>
</html>

